@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:whitesmoke;
}
h1, h2, h3, h4, h5{
    text-align: center;
    padding: 0.5em;
    
}
p{
    font-size: 20px;
    transition: font-size 1s;
}
p:hover{
    font-size: 25px;
}
footer{
    grid-area: footer;
    padding: 0.5em;
}
.redes{
    display: flex;
    flex: auto;
    justify-content: space-between;
    flex-direction: row;
    
    

}
.navbar .container-fluid{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,132,0,1) 100%);
    padding: 0.5em;
    
    
}
.nav .nav-link{
    background: linear-gradient(90deg, rgba(0,0,0,1) 9%, rgba(255,132,0,1) 85%);

}
.nav-link{
    color: rgb(255, 255, 255);
    list-style-type:circle;
    list-style-position: inside;
    
}
.card img{
    max-height: 20em;
    width: 25em;
    padding: 0.5em;
}
.card-body p{
    align-items: flex-end;
}
.form-control{
    background-color: #890000;
}
.list-group-item{
    background-color: #890000;
    border-radius: 0.375rem;
    border-color: black;
}
input{
    background-color: #890000;
    color: black;
    border-radius: 1rem;
    border-color: black;
    
}
header{
    grid-area: header;
    padding: 0.5em;
}
main{
    grid-area: main;
    padding: 0.5em;
    
}
.estadio{
    padding: 0.5em;
    margin: 0.5em;
    grid-area: estadio;
}
.hinchada{
    padding: 0.5em;
    margin: 0.5em;
    grid-area: hinchada;
}
.menu2{
    grid-area: menu2;
    padding: 0.5em;
}
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    grid-area: contenido;
    padding: 0.5em;
}
.grilla1{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "estadio"
    "hinchada"
    "menu2"
    "contenido"
    "footer";
    gap: 0.5rem;
    margin: 1rem;
    padding: auto;
    border:#e47c05 solid ;
    
}
@media (min-width: 600px){
    .grilla1{
        grid-template-areas: 
        "header main "
        "menu2 menu2"
        "estadio hinchada"
        "contenido contenido  "
        "footer footer ";
    }
    

}
@media (min-width: 900px){
    .grilla1{
        grid-template-areas: 
        "header header main"
        "menu2  contenido contenido"
        "estadio contenido contenido "
        "hinchada contenido contenido"
        "footer footer footer";
        grid-template-columns: auto auto 500px;
        grid-template-rows: 100px 200px 200px auto;
    
}

}
